body {
  margin: top;
  padding: top;
  text-align: center;
  background-color: rgb(27, 127, 181);
}

.app-title {
  color: white;
  font-size: 60px;
}

.searchBox {
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #0d0f5a;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-container h1 {
  color: white;
  font-size: 20px;
}
